@bodycolor: #cfced3;
@upBlockColor: #3e3c4a;
@elementsColor: #f76e5d; 
@minWidth: 1000px;
@textColor: #d2c3c3;
@lowerBlockColor: #e0dfe5;
@textInfoColor: #d2c3c3;
@lengthBlock: 70%;
@marginBlock: (100%- @lengthBlock)/2;
@headerHeight: 480px;
@font-face {
    font-family: MyriadPro-Bold; /* Имя шрифта */
    src: url('../fonts/MyriadPro-Bold.otf'); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: MyriadPro-Regular; /* Имя шрифта */
    src: url('../fonts/MyriadPro-Regular.otf'); /* Путь к файлу со шрифтом */
}
body, html
{
  background-color: @bodycolor;
  min-width: @minWidth;
  font-family:  MyriadPro-Regular;
}
#upBlock
{
     position: relative;
     box-sizing: border-box;
     height: @headerHeight;
     background-color: @upBlockColor;
     color: @textColor;
     padding-top: 220px;
     text-align: center;
     font-family: MyriadPro-Bold;
     h1
     {
       
        position: relative;
        z-index: 800;
        font-weight: bold;
        color: @textColor;
        margin-bottom: 25px;
        font-family: MyriadPro-Bold;
     }
    .orange-white-title 
    {
        position: absolute;
        width: @lengthBlock;
        background-color: @elementsColor;
        left: @marginBlock;
        top: 20%;
        height: 50px;
        padding: auto;
        h1 
        {
            margin-top: 5px;
            font-family: MyriadPro-Bold;
        }
    }
}

#imageBlock
{
     position: absolute;
     height: 80%;
     top: 20%;
     width: @lengthBlock;
     left: @marginBlock;
     opacity: 0.7; 
     background-image: url('../img/cakes.jpg');
     background-repeat: no-repeat;
     background-size: 100%;
     background-position: 0px 100%;
    
}
#lineDiv
{
    background-color: @elementsColor;
    height: 68px;
    width: 70%;
    margin: auto;
}
#divCalcText
{
    margin-top: 6px;
    position: relative;
    margin: auto;
    background-color: rgba(184, 153, 158, 0.64);
    color: @upBlockColor;
    padding: 10px;
    z-index: 800;
    font-size: 23px;
    width: 500px;
    font-family: MyriadPro-Regular;
}
#content
{
    position: relative;
    box-sizing: border-box;
    background-color: @lowerBlockColor;
    width: 70%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    h2 {
        font-weight: bold;
        color: @upBlockColor;
        font-family: MyriadPro-Bold;
    }
    .underTitle
    {
        color: @elementsColor;
        font-family: MyriadPro-Regular;
    }
   
}
#grid 
{
   position: relative;
   margin: 20px;
   padding-left: 40px;
   padding-right: 40px;

   margin-top: 60px;
   text-align: left;
   font-size: 16px;
    .squar
    {
        float: left;
        width: 40px;
        height: 40px;
        background-color: @elementsColor;
        margin-left:auto;
    }
    .textNear
    {
        color: @elementsColor;
        margin-top: -2px;
        margin-left: 50px;
        font-family: MyriadPro-Bold;
    }
    
}
#lowerLineDiv
{
    position: relative;
    height: 45px;
    width: 60%;
    margin: auto;
    background-color:  @elementsColor;
    font-size: 14px;
    font-family: MyriadPro-Regular;
    padding-top: 12px;
    
}
footer 
{
    padding-bottom: 18px;
    div
    {
        text-align: center;
        color: @textColor;
        font-size: 15px;
        padding-top: 8px;
    }  
}
.textOnly
{
    color: @upBlockColor;
}
.glyphicon
{
    margin-top: 7px;
    font-size: 25px;
    color: @textColor;
    text-align: center;
    display: block;
}
.textNearGray
{
    color: #6a6868;
    margin-top: 10px;
    margin-left: 50px;
    margin-bottom: 25px;
    font-size: 14px;
    font-family: MyriadPro-Regular;
}
.newPositionedContent 
{
    margin-top: -@headerHeight*0.8+50px;
    hr 
    {
       border-color: #b5b5b5;
       width: 70%;
    }
}
#grid-dish
{ 
     position: relative; 
     margin-top: 35px;
     padding-left: 40px;
     padding-right: 40px;
     .dish
     {
      
       margin-bottom: 10px;
       padding: 0;
       box-sizing: border-box;
     }
     img
     {
       width: 100%;   
     }
    
     .darkDish
    {
        position: absolute;
        top: 0;
        background-color:  rgba(247, 110, 93, 0.6);
        width: 100%;
        height: 100%;
        display: none;
        text-align: center;
        color: @textColor;
        font-size: 30px;
        font-family: MyriadPro-Bold;
        padding-top: 66px;
    }
    .space 
    {
        position:relative;
        margin-left: 6px;
        margin-right: 6px;
    }
     
}
button
{
    position: relative;
    width: 250px;
    height: 70px;
    border: none;
    margin: auto;
    margin-top: 24px;
    font-size: 30px;
    color: @textColor;
    background-color: @elementsColor;
    font-weight: bold;
      
}
button:hover
{
    background-color: #e5695a; 
}
#addDish
{
    width: 400px;
    padding-bottom: 6px;
    margin-bottom: 60px;
}