<!--Тут міститься контент другої сторінки, набір страв-->
    <div ng-controller = "loadCategories">
        <h2 class="underTitle">Оберіть вид страви</h2>
          <hr>
          <div id="grid-dish">
               <div class="row" id="innerGrid-dish" >
                   <div class="dish col col-xs-12 col-sm-6 col-lg-3"  ng-repeat="content in contents" id={{content.id}}>
                       <div class="space">
                           <img src= {{content.picture}}>
                           <div class="darkDish" >
                               <div class="center-block">
                                   <a href="#/recipe" ng-click="saveType()">{{content.name}}</a>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
          </div>
    </div>
